/* Estilos para la página de cursos */

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos para la tabla de cursos */
#tabla-cursos {
    margin: 20px auto;
    width: 80%;
}

#tabla-cursos table {
    width: 100%;
    border-collapse: collapse;
}

#tabla-cursos th, #tabla-cursos td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#tabla-cursos th {
    background-color: #333;
    color: #fff;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
